/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:wght@400;0;500;0;600;0;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #3b141c;
    padding: 10px 20px;
    gap: space-between;
    margin: 0 auto;
}
.header-section{
display: flex;
background:red;

}
.logo .logo-text{
  color:white;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
  
    margin-left: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

nav ul li a:hover {
background: #f9361c;
    color:white;
    border-radius: 8px;
    padding: 5px;
}

.hero-section {
    display: flex;
    flex-direction: column; /* Stack elements on small screens */
    min-height: 100vh;
    background: #3b141c;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
}

.hero-content {
    text-align: center; /* Center text */
}

.title {
    font-size: 2.5rem;
    color: #f9361c;
}

.description {
    margin: 10px 0;
    font-size: 1.2rem;
}

.buttons {
    margin-top: 20px;
}

.button {
    background-color: #f9361c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #3b141c;
    transform: scale(1.1);
}

.img-wrapers {
    margin-top: 20px; /* Space between text and image */
}

.img-wrapers img {
    max-width: 100%; /* Responsive image */
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3b141c;
    color: #fff;
    position: relative;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .hero-section {
        flex-direction: row; /* Align elements side by side on larger screens */
        justify-content: space-between;
    }

    .hero-content {
        text-align: left; /* Left align text on larger screens */
        width: 50%; /* Take half the width */
    }

    .img-wrapers {
        width: 50%; /* Take half the width */
        display: flex;
        justify-content: center; /* Center image wrapper */
    }
}